.class { /*class selector*/
    color: green;
}

#id { /* id selector*/
    color: red; 
}

li a { /* descendant selector */
    color:teal
}

.class a{ /* class selector */
    color: teal; 
}

h1 + p{     /* Adjacent selector - p directly after h1*/
    color: red;
}

div > li { /*Direct child -Child after parent */
    color:white
}

input[type="text"]{
    width: 300px;
    color: yellow;
}

main .sidebar {
    background-color: rebeccapurple;
    flex: 1 2 300px;
}

.class a:hover{
    color: red;
}

@media (max-width: 900px) and (min-width: 600px){ /* Media Queries */
   h1 {
        color: purple;
    }
}
