
header a { /* descendant selector */
    font-size: 30px;
    color: teal;
}

#dislikes a { /* id selector*/
    font-weight: bold;
    color: red; 
}

input[type="text"]{
    width: 300px;
    color: yellow;
}
